.LoginForm form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 2rem;
  margin: auto;
  max-width: 100px;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  min-width: 30vw;
}

.LoginForm__title {
  margin: 1rem auto 2rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.LoginForm__title:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.5rem;
  left: calc(50% - 2rem);
  background-color: #000;
  height: 1px;
  width: 4rem;
}

.LoginForm input {
  background: transparent;
  border: 0;
  outline: none;
  padding: 0;
  border-bottom: 1px solid #000;
  width: 100%;
}